*{
    padding: 0;
    margin: 0;
}
nav{
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #333333; */
    color: white;
}
#path_visual{
    padding-top: 1%;
}
p{
    display: inline;
}
#path_visual,#algo{
    background-color: #333333;
    /* margin-right: 5%; */
    padding-left: 1%;
    font-size: xx-large;
}
#but_sec{
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(6, 16.66667%);
    place-content: center;
    padding: 2% 1%;
}
section {
    padding: 2.5%;
}
#implement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: 400px;
    color: black;
    /* border: 3px solid #73AD21; */
    font-size: 0px;    

}
#implement div{
    border: 1px solid black;
}
#but_sec button,#reset{
    background-color:transparent;
    outline: none;
    border: none;
    font-size: large;
    color: white;
    text-transform: uppercase;
    place-content: center;
    border-radius: 8px;
}
#a_speed{
    padding-top: 1px;
}
#reset{
    padding: 1% 5%;
}
#but_sec button:hover,#reset:hover{
    background-color: blue;
    cursor: pointer;
}
#but_sec .butt_locked{
    background-color: transparent;
    cursor: pointer;
}
#but_sec .butt_locked:hover{
    background-color: transparent;
    cursor: pointer;
}
#but_sec .butt_selected{
    background-color: transparent;
    color: green;
}
#but_sec .butt_selected:hover {
    background-color: white;
    cursor: pointer;
}
#but_sec .butt_unselected:hover {
    background-color: blue;
    cursor: pointer;
}

@media (max-width : 1110px){
    #implement div{
        width: 10px;
        height: 10px;
        background-color: #2e3f2e;
    }
}